.cole{
padding: 1rem;
background-color: #33b5e5;
border: 2px solid #fff;
color: #fff;
text-align: center;
}
.cola{
    padding: 1rem;
    color: black;
    text-align: center;
    }
.select {
    color: black;
}
