form.col-6.float-left{
  /* margin: 0 auto; */
  max-width: auto;
  border: 1px solid gainsboro;
  border-spacing: inherit;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 30px;
}

form.col-6.float-right{
  /* margin: 0 auto; */
  max-width: auto;
  border: 1px solid gainsboro;
  border-spacing: inherit;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 30px;
}
.float-right {
  float: right !important;
}
.float-left {
  float: left !important;
}
.centrer {
  text-align: center;
}

button.col-4.buttonco.btn.btn-primary.btn-sm {
  background-color: #00a86b;
  border-color: black;

}

.col-4.buttonart.btn-primary.btn-sm {
  background-color: #049be5;
  color: black;
  border-color: black;
}
.buttonsi {
  color: white;
  border-color: black;
  background-color: #00a86b;
}
a.buttonsi.btn.btn-primary.btn-block {
  color: white;
  background-color: #00a86b;
  border-color: black;
}
.text-muted {
  margin-top: 10px;
  text-align: center;
}
.titre {
  font-weight: bold;
  color: grey;
  text-align: center;
}
.footer {
  bottom: 0;
  position: fixed;
}
.formregister {
  align-items: center;
  justify-content: center;
}
